.side_menu_container {
	width: 250px;
	background-color: rgb(67, 129, 98);
	height: 100%;
	color: white;
	position: absolute;
	z-index: 1;
	/*float: left;*/

}

.profile_pic_container img {
	width: 100px;
	margin-top: 50px;
}

.pic_name_container {
	text-align: center;
}

.admin_panel_container {
	text-align: left;
	margin-left: 30%;
	margin-top: 50px;
}

.icon_container {
	margin-bottom: 10px;
}

.articles_container_right {
	margin-left: 270px;
	width: 1500px;
	/*max-width: 1000px;*/

}

.article_table_container {
	padding-top: 50px;
	padding-left: 50px;
}

.article_table_container th {
	text-align: center;
}

.banner_image {
	width: 100px;
	padding: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(228, 228, 228);
    text-align: center;
    /*width: 500px;*/
}

table th, td {
	width: 180px;
}

th {
	height: 50px;
}

.article_id {
	width: 100px;
}

.delete_btn {
	width: 70px;
}

/* --------- ARTICLE DASHBOARD ------------ */

.modal-content {
	text-align: left;
}

#edit_title {
	width: 400px;
}

.modal-footer {
	padding: 10px;
}

.articles_heading_container {
	width: 100vw;
	height: 50px;
	/*background-color: rgb(67, 129, 98);*/
}

#add_article_button {
	margin-left: 270px;
	margin-bottom: 10px;
}

/* ------------- WRITE NEW ARTICLE ---------------*/

.write_article_container {
	margin-left: 270px;
	padding-top: 20px;
}

#write_title, #write_caption, #write_tags {
	max-width: 500px;
}

#write_content {
	width: 600px;
	height: 500px;
	/*text-align: left;*/
}

/* ------------- NAV BAR ----------------------*/

#login_modal_header {
	text-align: center;
}

#login_modal_header img {
	width: 250px;
}

.nav_container {
	width: 100%;
	border-radius: 0;
	background-color: #9eb11e;
	/*color: white;*/
}

.nav_container li {
	color: black;
}

.logo_container {
	margin-left: 40%;
	margin-bottom: 10px;
}

.logo_container img {
	width: 280px;
	height: 200px;
	/*margin: auto;*/
}

#myNavbar {
	padding-left: 20%;
	padding-right: 10%;
}

.navbar-right li {
	margin-right: 10px;
}

#login_username, #login_password, #login_button {
	width: 80%;
	margin-left: 10%;
}

#login_button {
	margin-bottom: 20px;
	background-color: #9eb11e;
	border: 1px solid #9eb11e;
}

#register_button {
	background-color: #9eb11e;
	border: 1px solid #9eb11e;
}

.login_container > label {
	margin-left: 10%;
}

.login_modal_content {
	width: 80%;
}

#login_modal_footer {
	text-align: center;
}

#login_modal_title {
	text-align: center;
}

#login_modal_body p {
	margin-left: 10%;
	width: 80%;
	text-align: center;
}
 
.login_modal_dialog {
	margin: auto;
}

#cancel_register_button {
	width: 79px;
	height: 36px;
	color: black;
}

.register_container2 {
	background-color: white;
}