.home_template_body {
	background-color: rgb(224, 224, 224);
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
}

.side_menu_container {
	width: 250px;
	/*background-color: rgb(67, 129, 98);*/
	height: 100%;
	color: white;
	position: fixed;
	z-index: 999;
	background-color: #222;
    border-color: #080808;
    font-family: 'Roboto Condensed', sans-serif;

	/*float: left;*/

}

.profile_pic_container img {
	width: 100px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.pic_name_container {
	text-align: center;
}

.admin_panel_container {
	text-align: left;
	/*margin-left: 10%;*/
	margin-top: 50px;
}

.icon_container {
	margin-bottom: 10px;
	border: 1px solid rgb(72, 72, 72);
	padding: 10px;
	width: 99%;
	text-align: center;

}

.articles_container_right {
	margin-left: 270px;
	width: 1500px;
	/*max-width: 1000px;*/

}

.article_table_container {
	padding-top: 50px;
	padding-left: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

.article_table_container th {
	text-align: center;
}

.banner_image {
	width: 100px;
	padding: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(228, 228, 228);
    text-align: center;
    /*width: 500px;*/
}

table th, td {
	width: 180px;
}

th {
	height: 50px;
}

.article_id {
	width: 100px;
}

.delete_btn {
	width: 70px;
}

/* --------- ARTICLE DASHBOARD ------------ */

.modal-content {
	text-align: left;
}

#edit_title, #edit_caption {
	width: 400px;
}

.modal-footer {
	padding: 10px;
}

.articles_heading_container {
	width: 100vw;
	height: 50px;
	/*background-color: rgb(67, 129, 98);*/
}

#add_article_button {
	margin-left: 270px;
	height: 40px;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
/*	background-color: #222;
    border-color: #080808;*/
}

/* ------------- WRITE NEW ARTICLE ---------------*/

.write_article_container {
	margin-left: 270px;
	padding-top: 20px;
}

#write_title, #write_caption, #write_tags, #write_category {
	max-width: 500px;
}

#write_content {
	width: 600px;
	height: 500px;
	/*text-align: left;*/
}

/* ------------- NAV BAR ----------------------*/

.navbar_container {
	background-color: white;
}

#login_modal_header {
	text-align: center;
}

#login_modal_header img {
	width: 250px;
}

.header-container {
	width: 100%;
	/*height: 100px;*/
}

.nav_container {
	width: 100%;
	border-radius: 0;
	background-color: #9eb11e;
	height: 60px;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 4px;
	z-index: 99999;
	position: relative;

	/*color: white;*/
}

.first_li {
	border-left: 1px solid rgb(95, 95, 95);
	padding-left: 10px;
}

.nav_cat_container li {
	/*border-left: 1px solid rgb(138, 138, 138);*/
	border-right: 1px solid rgb(95, 95, 95);
	margin-right: 10px;
	padding-right: 10px;
}

.logo_container {
	margin-left: 40%;
	padding-bottom: 20px;
	/*margin-bottom: 10px;*/
}

.logo_container img {
	width: 280px;
	height: 200px;
}

#myNavbar {
	padding-left: 5%;
	padding-right: 5%;
}

#myNavbar img {
	width: 100px;
}

.navbar-right {

}

.navbar-right li {
	margin-right: 10px;
}



/*--- SEARCH BAR ----- */

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%}
.navbar-nav > li > a {
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}

.search_container {
	width: 250px;
	padding-left: 10px;
}


/* ----------- LOGIN ------------ */

#login_username, #login_password, #login_button {
	width: 80%;
	margin-left: 10%;
}

#login_button {
	margin-bottom: 20px;
	background-color: #9eb11e;
	border: 1px solid #9eb11e;
}

#register_button {
	background-color: #9eb11e;
	border: 1px solid #9eb11e;
	width: 100%;
}

.login_container > label {
	margin-left: 10%;
}

.login_modal_content {
	width: 80%;
}

#login_modal_footer {
	text-align: center;
	width: 80%;
	margin-left: 10%;
}

#login_modal_title {
	text-align: center;
}

#login_modal_body p {
	margin-left: 10%;
	width: 80%;
	text-align: center;
}
 
.login_modal_dialog {
	margin: auto;
}

#cancel_register_button {
	width: 79px;
	height: 36px;
	color: black;
}

#login_register_btn {
	background-color: #9eb11e;
	border: 1px solid #9eb11e;
	color: white;
}

/* ------------ REGISTER --------------- */

.register_container {
	background-color: white;
	margin-left: 35%;
	border: 1px solid rgb(200, 200, 200);
	width: 30%;
	padding: 20px;
}

.register_button_container {
	text-align: center;
	margin-bottom: 5px;
}

#register_button, #cancel_register_button {
	width: 100%;
}

/* ----------- ADMIN HEADER ------------- */

.admin_header_container {
	margin-left: 270px;
	margin-top: 20px;
	margin-bottom: 50px;
	/*height: 500px;*/
	right: 50px;
	position: absolute;
}

.admin_header_container img {
	border-radius: 50%;
	width: 30px;
	
}

/* --------- DISPLAY ARTICLES --------- */ 

.display_articles_container {
	border: 1px solid rgb(209, 209, 209);
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.home_banner_image {
	position: relative;	
}

.home_banner_image h3, h5 {
	position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   padding-left: 20px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 30px;
}

.home_banner_image h5 {
	top: 320px; 
}

.home_banner_image h3 > .caption_top { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: #9eb11e;
   /*background: rgba(0, 0, 0, 0.7);*/
   padding: 10px; 
}

.home_banner_image h3 > .caption_bottom { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   /*background: rgba(0, 0, 0, 0.7);*/
   padding: 10px; 
}

.home_banner_image img {
	width: 100%;
}

.latest_article_image_container img {
	width: 100%;
}

.latest_article_category_container {
	color: #9eb11e;
	text-transform: uppercase;

}

.latest_article_title_container {
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	color: black;
}

.latest_article_container {
	margin-bottom: 10px;
	width: 100%;

}

.underline {
	background-color: rgb(238, 238, 238);
	height: 1px;
	width: 90%;
	margin-bottom: 10px;
	/*margin-left: 15px;*/
}

.home_content_container {
	padding-left: 20px;
}

.home_content_container h3 {
	background-color: #080808;;
	color: white;
	padding: 10px;
	width: 200px;
}

.latest_article_caption_container {
	font-style: italic;
}

.latest_article_caption_container {
	padding-bottom: 10px;
	max-width: 350px;
}

.latest_article_author_container {
	padding-top: 10px;
}

.latest_article_content_container, {
	max-width: 350px;
}	

.author_name {
	color: #9eb11e;
	font-family: 'Roboto Condensed', sans-serif;

}

/* ------------ MOST READ ARTICLES ----------- */

.mostread_article_container {
	font-size: 10px;
	padding-right: 25px;
}

.mostread_author_name {
	font-size: 10px;
}

.mostread_article_title_container {
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.mostread_underline {
	padding-bottom: 10px;
}

.mostread_article_category_container {
	color: #9eb11e;
	text-transform: uppercase; 
}