.side_menu_container {
	width: 250px;
	background-color: rgb(67, 129, 98);
	height: 100%;
	color: white;
	position: absolute;
	z-index: 1;
	/*float: left;*/

}

.profile_pic_container img {
	width: 100px;
	margin-top: 50px;
}

.pic_name_container {
	text-align: center;
}

.admin_panel_container {
	text-align: left;
	margin-left: 30%;
	margin-top: 50px;
}

.icon_container {
	margin-bottom: 10px;
}

.articles_container_right {
	margin-left: 270px;
	width: 1500px;
	/*max-width: 1000px;*/

}

.article_table_container {
	padding-top: 50px;
	padding-left: 50px;
}

.article_table_container th {
	text-align: center;
}

.banner_image {
	width: 100px;
	padding: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(228, 228, 228);
    text-align: center;
    /*width: 500px;*/
}

table th, td {
	width: 180px;
}

th {
	height: 50px;
}

.article_id {
	width: 100px;
}

.delete_btn {
	width: 70px;
}

/* --------- ARTICLE DASHBOARD ------------ */

.modal-content {
	text-align: left;
}

#edit_title {
	width: 400px;
}

.modal-footer {
	padding: 10px;
}

.articles_heading_container {
	width: 100vw;
	height: 50px;
	/*background-color: rgb(67, 129, 98);*/
}

#add_article_button {
	margin-left: 270px;
	margin-bottom: 10px;
}

/* ------------- WRITE NEW ARTICLE ---------------*/

.write_article_container {
	margin-left: 270px;
	padding-top: 20px;
}

#write_title, #write_caption, #write_tags {
	max-width: 500px;
}

#write_content {
	width: 700px;
	height: 500px;
	/*text-align: left;*/
}